@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
    ViewBag.Header = "The Joel Hilton Film Collection";
}

<div class="text-center">

    <img src="~/JoelHilton.jpg" width="500" />

    <p>Welcome to the movie site!</p>
</div>
<!--link to movie form-->
<a asp-action="MovieForm"> Click here to add movies to your list!</a>