@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ ViewBag.Title = " My Podcasts page";
                ViewBag.Header = "My Podcasts page"; }
<div>
    <!--link to podcast-->
    <a href="https://baconsale.com/"> Visit the Baconsale Site!</a>

    <p> Joel Hilton has a weekly podcast about movies called Baconsale with a few friends</p>
    <img src="~/bacon.jpg" width="500" height="500" />
</div>
